<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit value='Submit' %>
  </div>
<% end %>
