<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>


<h1 class = "title">Users List</h1>

<div class="row">
  <div class="small-2 large-4 columns">
  <% @users.each do |user| %>
    <p> <%= link_to user.name, user %> </p>
  <% end %>


  </div>

<%= link_to "Register a user", new_user_path %>

<%# TODO:
  Add both log-in and register to the index
 %>

</div>
<%= link_to "Care to sign in?", new_user_registration_path %>

