  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">


  <div class="homepage-title">
    <div class="small-1 medium-4 large-5 small-centered medium-centered large-centered columns">
        <div class="content-box">
          <h1 class="homepage-title small-centered medium-centered large-centered">"Let's take a walk."</h1>
        </div>
    </div>
  </div>

<div class="small-1 medium-4 large-5 small-centered medium-centered large-centered columns">
  <div class="content-box"
    <p class="welcome-page-links">
      <%= link_to "Care to sign in?", new_user_session_path %>
      <%= link_to "Register?", new_user_registration_path %>
    </p>
  </div>
</div>
